<section class="book-survey-info" aria-label="Book purchase information and submitting ideas for additional objects">
    <div class="container">
        <div layout="rows stretch-center">
            <div class="book-info__item" self="sm-full size-1of2">
                <div class="book-info__title">Buy the Book</div>
                <div class="book-info">
                    <div class="gallery-info__hours">
                        <em>Mr. Jefferson's Telescope: A History of the University of Virginia in One Hundred Objects</em>
                        from the UVA Press ...
                    </div>
                </div>
                <div class="book-info__action">
                    <a class="btn btn--primary btn--tour" href="http://www.upress.virginia.edu/title/5036" class="action__secondary">Get my copy</a>
                </div>
            </div>
            <div class="survey-info__item" self="sm-full size-1of2">
                <div class="survey-info__title">Is "100 Objects" enough?</div>
                <div class="survey-info__blurb">
                    If you could add an item to this exhibition, what would it be?
                </div>
                <div class="survey-info__action">
                    <a class="btn btn--primary btn--tour" href="{{ site.baseurl }}/101st-object/">Submit an object</a>
                </div>
            </div>
        </div>
    </div>
</section>
