<section class="book-survey-info" aria-label="Book purchase information and submitting ideas for additional objects">
    <div class="container wider-container">
        <div layout="rows stretch-center">
            <div layout="column stretch-center sm-column" class="book-survey-info__item" self="md-full size-1of2">
                <div layout="column center-left" class="book-survey-icon" self="sm-full">
                    <img src="{{ site.baseurl }}/images/MrJefferson-Telescope.jpg" alt="Cover image for Mr. Jefferson's Telescope book">
                </div>
                <div layout="column center-stretch" self="sm-full">
                    <div class="book-survey-info__title">Buy the Book</div>
                    <div class="book-survey-info__blurb">
                        <em>Mr. Jefferson's Telescope: A History of the University of Virginia in One Hundred Objects</em>
                        from the UVA Press ...
                    </div>
                    <div class="book-survey-info__action">
                        <a class="btn btn--primary btn--book-survey" href="http://www.upress.virginia.edu/title/5036">Get my copy</a>
                    </div>
                </div>
            </div>
            <div layout="column stretch-center sm-column" class="book-survey-info__item" self="md-full size-1of2">
                <div layout="column center-left" class="book-survey-icon" self="sm-full">
                    <img src="{{ site.baseurl }}/images/101.png" alt="101st object icon">
                </div>
                <div layout="column center-stretch" self="sm-full">
                    <div class="book-survey-info__title">Is "100 Objects" enough? Absolutely not.</div>
                    <div class="book-survey-info__blurb">
                        If you could add an item to this exhibition, what would it be?
                    </div>
                    <div class="book-survey-info__action">
                        <a class="btn btn--primary btn--book-survey" href="{{ site.baseurl }}/101st-object/">Submit an object</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
