<footer class="footer" role="contentinfo">
  <div class="container">  
    <div class="footer__flex-container" layout="row center-left sm-column">
      
      <div class="">
        <div class=""><a href="{{site.baseurl }}/" class="footer__link">Download the Press Kit</a></div>
        <div class="footer__label">(.zip 21MB)</div>
      </div>
    
      <div class="footer__contact--section">
        <div class="footer__label">Have a question?</div>
        <div class=""><a href="mailto:har8n@virginia.edu?subject=100%20Objects" class="footer__link" aria-label="Send us an email about the 100 Objects exhibition">Get in touch</a></div>
      </div>
      <div class="footer__right">
        <a href="/">
          <a href="https://library.virginia.edu" aria-label="Go to the U V A Library website"><img src="{{ site.baseurl }}/images/logo.svg" class="footer__logo" alt="University of Virginia Library logo"></a>
        </a>
      </div>
    </div>
  </div>
</footer>
