<header id="rev-1" class="header" role="banner">
  <div layout="rows stretch-stretch">
    <div layout="row center-center" class="header__left-section" style="position: relative;">
      <uvalib-model-image style="position: absolute; left: 0; top: 0;"></uvalib-model-image>
      <!--<img src="{{ site.baseurl }}/images/main-rotating-35key.png" alt="key to the rotunda">-->
    </div>
    <div layout="column center-left" class="header__right-section">
      <div layout="column justify" class="header__content">
        <span class="header__label">exhibition</span>
        <h1 class="header__title">The University of Virginia in 100 Objects</h1>
        <p class="header__supporting-text">
          A Bicentennial exhibition celebrating the history of the University
        </p>
        <div class="header__date">August 14, 2017 - June 22, 2018</div>
        <div class="header__location">
          The exhibition galleries of the Harrison Institute and Albert and Shirley Small Special Collection Library
          as well as over a dozen sites around Grounds. <a href="{{ site.baseurl }}/overview/" aria-label="learn more about the 100 objects exhibition">Learn more &gt;&gt;</a>
        </div>
        <hr class="break__content">
      </div>
      <div layout="row stretch-center" class="header-app__content">
        <div layout="column center-left" class="header-app-icon">
          <img src="{{ site.baseurl }}/images/rounded_app_icon.png" width="160" height="160" alt="Walking Tours of Grounds icon">
        </div>
        <div layout="column center-stretch">
          <h4 class="header-app__subtitle">Get the App</h4>
          <div class="header-app__blurb">
            <em>Download The Walking Tours of Grounds app to map and find all 100 Objects across Grounds ...</em>
          </div>
          <div class="header-app__action">
            <a class="btn btn--primary btn--main" href="{{ site.baseurl }}/get-app/">Get the app</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
