<header id="rev-1" class="header" role="banner">
  <div layout="rows stretch-stretch">
    <div layout="row center-center" class="header__left-section">
      <img src="{{ site.baseurl }}/images/main-rotating-35key.png" alt="key to the rotunda">
    </div>
    <div layout="column center-left" class="header__right-section">
      <div class="header__content">
        <span class="header__label">exhibition</span>
        <h1 class="header__title">The University of Virginia in 100 Objects</h1>
        <p class="header__supporting-text">
          A Bicentennial exhibition celebrating the history of the University
        </p>
        <div class="header__date">August 14, 2017 - June 22, 2018</div>
        <p class="header__location">
          The exhibition galleries of the Harrison Institute and Albert and Shirley Small Special Collection Library
          as well as over a dozen sites around Grounds.<br> <a class="btn btn--primary btn--tour" href="{{ site.baseurl }}/overview/" aria-label="learn more about the 100 objects exhibition">Learn more</a>
        </p>
      </div>
      <hr layout="column center-left" width="80%">
      <img src="{{ site.baseurl }}/images/App-icon.png" width="160" height="160" alt="Walking Tours of Grounds icon">
      <div class="header__content">
        <h4 class="header__subtitle">Get the App</h4>
        <p class="header__location">
          <em>Download The Walking Tours of Grounds app to map and find all 100 Objects across Grounds ...</em>
          <br>
          <a class="btn btn--primary" href="{{ site.baseurl }}/get-app/">Get the app</a>
        </p>
      </div>
    </div>
  </div>
</header>
