/*
==========================================================
                     SITE FOOTER
==========================================================
*/

.footer {
  height: 250px;
  background: #0d192e;
}

.footer__logo {
  width: 140px;
}

.footer__link {
  font-family: unquote(map-get($headingtype, font-family));
  font-size: 20px;
  color: #ffffff;
/*  margin-bottom: 10px;*/
  font-weight: 700;
  
  &:hover {
/*    color: #b93f22;*/
    text-decoration: underline;
  }
}

.footer__label {
  font-family: unquote(map-get($headingtype, font-family));
  color: #ffffff;
  font-size: 20px;
}

.footer__flex-container {
  height: 300px;
}

.footer__contact--section {
  padding-left: 100px;
}

.footer__right {
  padding-left: 100px;
}

@media screen and (max-width: 60em) {
  .footer__right {
    display: none;
  }
}

@media screen and (max-width: 40em) {
  .footer__contact--section {
    padding-left: 10px;
    padding-top: 35px;
  }
  .footer__label {
    margin-bottom: 10px;
  }
}